<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="Vendor" name="Listar Entidades" version="0.3.7">

    <details>
        <title>Listar entidades registradas no orion</title>
        <homepage>https://github.com/gustavo/listarEntidades</homepage>
        <authors>gustavo henrique miguel ferreira</authors>
        <email>gustavo.hmf20@gmail.com</email>
        <image></image>
        <smartphoneimage></smartphoneimage>
        <description>The best project ever.</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/userguide.md</doc>
        <license>Apache</license>
        <issuetracker>https://github.com/gustavo/listarEntidades/issues</issuetracker>
    </details>

    <requirements>
	<feature name="NGSI"/>
    </requirements>

    <preferences>
	<preference name="ngsi_server" type="text" label="NGSI URL" 
		description="URL do orion" default="http://35.199.67.193:1026"/>
    </preferences>

    <wiring>
    </wiring>

    <contents src="index.html"/>
    <rendering height="600px" width="70%"/>

</widget>
